<script>
export default {
  props: {
    nom: String
  },
  data() {
    return {
      etat: false
    }
  },
}
</script>

<template>

  <p>
  <h2>{{ nom }}</h2>
  <button type="button" class="btn" :class="{ 'btn-outline-success': etat, 'btn-outline-danger': !etat }"
    @click.prevent="etat = !etat">On/off</button>
  </p>
  <div v-if="etat">
    <slot></slot>
  </div>

</template>