<script>
//import * as msg from "../message";

import MessageChat from "../message";

export default {
  props: {
    msg: MessageChat,
  },
};
</script>

<template>
  <div class="card text-dark bg-light mb-3" style="max-width: 18rem">
    <div class="card-header">{{ msg.emeteur }}</div>
    <div class="card-body">
      <p class="card-text">{{ msg.contenu }}</p>
    </div>
  </div>
</template>
