
<template>
    <footer class="footer bg-light" style="padding-top: 15px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm">
                    <p class="lead"><a href="/mqttws.lua"><button type="button" class="btn btn-outline-info">Filtre Wireshark</button></a> à placer dans le dossier des plugins de Wireshark.</p>
                    <p>L'emplacement est <kbd>/lib/wireshark/plugins/</kbd> ou <kbd>~/.local/lib/wireshark/plugins/</kbd> selon les distributions.</p>
                </div>
                <div class="col-sm">
                    <p class="lead"><a href="/montage-mqtt.py"><button type="button" class="btn btn-outline-info">Script Python</button></a> utilisé pour la fin de la manipulation.</p>
                    <p>On utilise un module à instaler avec <kbd>pip install paho-mqtt</kbd>.</p>
                </div>
                <div class="col-sm">
                    L'adresse du brocker est <kbd>ws://montage-mqtt.kokarde.fr/mosquitto</kbd>.
                </div>
            </div>
        </div>
    </footer>
</template>
