<script>
import ChatMessage from "./ChatMessage.vue";
import MessageChat from "../message";
import * as mqtt from "mqtt";

export default {
  props: {
    monNom: String,
    uplinkAddr: String
    //liste_message: [MessageChat],
  },
  components: { ChatMessage },
  methods: {
    send_message() {
      this.clientMQTT.publish(
        "chat",
        new TextEncoder().encode(this.messageActuel().string())
      );
      this.monMessage = "";
    },
    messageActuel() {
      const textePropre = this.monMessage.replace(/(\r\n|\n|\r)/gm, "\\n");
      return new MessageChat(this.monNom, textePropre);
    },
    new_message(topic, message) {
      const txt = new TextDecoder().decode(message);
      try {
        const struc = JSON.parse(txt);
        this.liste_message.push(new MessageChat(struc.emeteur, struc.contenu));
      } catch (err) {
        if (err instanceof SyntaxError) {
          console.log("Message invalide");
        } else {
          throw err;
        }
      }
    },
    init_uplink() {
      console.log("Try to connect message");
      let uplink = mqtt.connect(this.uplinkAddr, { clientId: "mqttjs" + this.monNom + "chat", clean: false });
      uplink.on("connect", function () {
        console.log("Connection ok message");
        uplink.subscribe("chat", function (err) {
          console.log("Sub chat ok");
        });
      });
      uplink.on("message", this.new_message);
      return uplink;
    },
  },
  data() {
    return {
      monMessage: "",
      clientMQTT: this.init_uplink(),
      liste_message: [],
    };
  },
};
</script>

<template>
  <div class="card">
    <div class="card-body">
      <ChatMessage :msg="message" v-for="message in liste_message" :key="message.hash" />
    </div>
    <form class="card-footer form-floating" @submit.prevent>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="zoneNouveauMessage" rows="3" v-model="monMessage">
        <button class="btn btn-outline-secondary" type="button" @click.prevent="send_message">Envoie</button>
        <button class="btn btn-outline-secondary" type="button" @click.prevent="liste_message=[]"><i class="bi bi-trash"></i></button>
        
      </div>
    </form>
  </div>
</template>

<style lang="sass"></style>
