<script>

import OngletChat from "./GestionaireChat.vue";
import StatusListe from "./StatusListe.vue";
import Footer from "./Footer.vue";
import Activateur from "./Activateur.vue";

export default {
  data() {
    return {
      uplinkAddres: "ws://montage-mqtt.kokarde.fr/mosquitto",
      userName: "",
      nameField: ""
    }
  },
  components: {
    OngletChat,
    StatusListe,
    Footer,
    Activateur
  },
  methods: {
    setUserName() {
      if (/^[a-zA-Z]+$/.test(this.nameField)) {
        this.userName = this.nameField;
        console.log('Nom d\'utilisateur : ${this.userName}');
      } else {
        alert("Nom invalide")
      }
    }
  },
}

</script>

<template>
  <header class="navbar navbar-expand-md navbar-dark bd-navbar"
    style="background-color: rgb(0, 119, 139) ; align : center;">
    <h1>Montage MQTT : {{ userName }} </h1>
  </header>
  <div style="margin : 15px;">
    <div v-if="!userName">
      <div class="row align-items-center" style="width=20%">
        <div class="col-md card">
          <div class="card-body">
            <p>Bienvenue dans la leçon MQTT de Léopold.</p>
            <p>Le choix du nom est important, merci de garder le même durant toute la durée de la leçon.</p>
          </div>

        </div>
        <div class="col-sm">
          <form class=" form-floating " @submit.prevent>
            <div class="input-group ">
              <input type="text" class="form-control" id="zoneNom" rows="3" v-model="nameField">
              <button class="btn btn-outline-secondary" type="button" @click.prevent="setUserName()">Valider mon
                nom</button>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div v-if="userName" class="container">
      <div class="row align-items-center">
        <div class="col-sm">
          <Activateur nom="Suivit de présence">
            <StatusListe :monNom="userName" :uplinkAddr="uplinkAddres" />
          </Activateur>
        </div>
        <div class="col-md">
          <Activateur nom="Partage de message">
            <OngletChat :monNom="userName" :uplinkAddr="uplinkAddres" />
          </Activateur>
        </div>
      </div>
    </div>

  </div>

  <Footer>
  </Footer>
</template>
