<script>
export default {
    props: {
        nom: String,
        etat: Boolean,
    }
}
</script>

<template>
    <button type="button" class="btn position-relative" :class="{ 'btn-success' : etat , ' btn-danger' : ! etat} " style="margin:15px;">
        {{ nom }}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
            <i v-if="etat" class="bi bi-wifi"></i><i v-else class="bi bi-wifi-off"></i>
        </span>
    </button>
</template>