<script>
import StatusItemVue from "./StatusItem.vue";
import * as mqtt from "mqtt";

export default {
  props: {
    monNom: String,
    uplinkAddr: String
    //liste_message: [MessageChat],
  },
  components: { StatusItemVue },
  methods: {
    ping(uplink) {
      console.log("envoie a " + "status/" + this.monNom);

    },
    init_uplink(nom) {
      console.log("Try to connect statut");
      let uplink = mqtt.connect(this.uplinkAddr, {
        clientId: "mqttjs" + nom + "status",
        will: {
          topic: "status/" + nom,
          payload: new TextEncoder().encode("0"),
          qos: 0,
          retain: true
        },
        clean: false
      });
      uplink.on("connect", function () {
        console.log("Connection ok statut");
        uplink.subscribe("status/+", { qos: 0 }, () => { this.subscribe = true; });

        uplink.publish(
          "status/" + nom,
          new TextEncoder().encode("1"),
          {
            qos: 0,
            retain: true
          }
        )
      });
      uplink.on("message", this.new_message);
      return uplink;
    },

    new_message(topic, message) {
      const nom = topic.split("/")[1];
      this.statutConnu[nom] = new TextDecoder().decode(message);
    },
  },
  data() {
    return {
      subscribe: false,
      newStatus: "",
      clientMQTT: "",
      statutConnu: {},
    };
  },
  mounted() {
    this.clientMQTT = this.init_uplink(this.monNom)
    //this.alive()
  },
};
</script>

<template>
  <div class="card">
    <div class="card-body">
      <span v-for="[nom, statut] of Object.entries(statutConnu)">
        <StatusItemVue :nom="nom" :etat="statut == 1"></StatusItemVue>
      </span>
    </div>
  </div>


</template>

<style lang="sass"></style>
